* {
  border: 2px;
  border-style: solid;
  border-color: green;
  margin: 0px;
  padding: 0px;
}

.navbar {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  color: blueviolet;
  font-size: 60px;
  background-color: #1e90ff;
}

a:link {
  text-decoration: none;
  color: purple;
}

.game-box {
  position: relative;
  display: grid;
  grid-template-columns: 100px 1fr 1fr 100px;
  top: 50%;
  left: 50%;
  background-color: rgb(224, 142, 142);
  width: 900px;
  height: 700px;
  transform: translateX(-50%) translateY(-50%);
}

.content {
  position: relative;
  height: 1000px;
  width: 100%;
}

.form {
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 1;
  position: relative;
}

.centered-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#rock-button {
  margin-bottom: 100px;
}

#scissor-button {
  margin-top: 100px;
}

.answer {
  height: 100%;
  grid-column-start: 4;
  grid-column-end: 4;
}

.answer-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.image-box {
  height: 100%;

  display: flex;
  align-items: center;
}

.image {
  height: auto;
  max-width: 100%;
  grid-column-start: 2;
  grid-column-end: 2;
}

.image2 {
  max-width: 100%;
  height: auto;
  grid-column-start: 3;
  grid-column-end: 3;
}

#submit-btn {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 1;
  text-align: center;
  top: 75%;
  position: absolute;
}

#rock-user {
  display: block;
}

#rock-bot {
  display: none;
}

#scissor-bot {
  display: none;
}

#paper-user {
  display: none;
}

#scissor-user {
  display: none;
}


.answer-box2{
  position: absolute;
  width: 100%;
  top: 15%;
  text-align: center;
}

#user-answer{
  grid-column-start: 2;
  grid-column-end: 2;
}

#bot-answer{
  grid-column-start: 3;
  grid-column-end: 3;
}

.result{

  position: absolute;
  grid-column-start: 2;
  grid-column-end: 4;
  width: 100%;
  top: 5%;
  text-align: center;
}