body {
    margin: 0;
    padding: 0;
   
    
}


.navbar {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    color: blueviolet;
    font-size: 60px;
    background-color: #1E90FF;
    

    
    
}

a:link{
    text-decoration: none;
    color: purple;
}

.game-box{

    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgb(224, 142, 142);
    width: 900px;
    height: 700px;
    margin-left: -450px;
    margin-top: -350px;
}

#paper{

    visibility: hidden;
}

#scissor{
    visibility: hidden;
}

.image {
    position: relative;
    top: 25%;
    left: 40px;
    
}