*{

    border: 2px;
    border-style: solid;
    border-color: green;
    margin: 0px;
    padding: 0px;

}







.navbar {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    color: blueviolet;
    font-size: 60px;
    background-color: #1E90FF;
    

    
    
}

a:link{
    text-decoration: none;
    color: purple;
}

.game-box{

   position: relative;
   display: grid;
   grid-template-columns: 100px 1fr 1fr 100px;
   top: 50%;
   left: 50%;
   background-color: rgb(224, 142, 142);
   width: 900px;
   height: 700px;
   transform: translateX(-50%) translateY(-50%);

}

#paper{

    visibility: hidden;
}

#scissor{
    visibility: hidden;
}



.content{

    position: relative;
    height: 1000px;
    width: 100%;
}

.form{

    height: 100%;
    grid-column-start: 1;
    grid-column-end: 1;
}





.centered-buttons{

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    

    
    
    


    
    
}



#rock-button{

    margin-bottom: 100px;
}

#scissor-button{

    margin-top: 100px;
}


.answer{

    
    height: 100%;
    grid-column-start: 4;
    grid-column-end: 4;

    

}

.answer-box{

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.image-box{

    height: 100%;

    display: flex;
    align-items: center;


}

.image{

    
    height: auto;
    max-width: 100%;
    grid-column-start: 2;
    grid-column-end: 2;


    

}

#image2{
    
    max-width: 100%;
    height: auto;
    grid-column-start: 3;
    grid-column-end: 3;

}

#submit-btn{

    position: absolute;
    width: 100%;
    top: 50%;
}




